/* Global Styles */

html, body {
  height: 100%;
}

body {
  padding-top: 50px;
 /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1;
 /* change this to change the background color of a colored section */
}

.section-colored-white {
  background-color: #FFFFFF;
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 35%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* Footer Styles */
footer {
  margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

  .carousel {
    height: 40%;
 /* increases the carousel height so it looks good on phones */
  }
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

a#scrollUp {
bottom: 0px;
right: 10px;
padding: 5px 10px;
background: #AC2925;
color: #FFF;
-webkit-animation: bounce 2s ease infinite;
animation: bounce 2s ease infinite;
}

a#scrollUp i {
font-size: 30px;
}


.embed-container {
position: relative;
padding-bottom: 45.25%;
padding-top: 60px;
margin-top:25px;
height: 0;
overflow: hidden;
}

.embed-container iframe, .embed-container object, .embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/* price ranger  */
.well {
background-color: transparent;
border: none;
border-radius: 4px;
box-shadow: none;
margin-bottom: 0px;
min-height: 20px;
padding: 0px;
padding-bottom: 30px;
max-width: 60%;
}


/* products  */
.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: #555555;
	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}


.productinfo p{
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#AC2925;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:.9;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #555555;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #AC2925;
}


.product-overlay p{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.add-to-cart {
  background:#F5F5ED ;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #AC2925;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.recommended-item-control {
position: absolute;
top: 41%;
}

.recommended-item-control i {
background: none repeat scroll 0 0 #AC2925;
color: #FFFFFF;
font-size: 20px;
padding: 4px 10px;
}

.right {
right: 0;
}

/************** FAQs Accordion **********/
#accordion a { text-decoration:none; vertical-align: top; color: #4b4b4b; padding: 0 0 0px 0; cursor: pointer; line-height: 25px; opacity: 0.8; -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; transition: opacity 200ms;}
#accordion a h4 { width:90%; margin: 0; font-size: 14px; line-height: 25px; color: #4b4b4b; -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; transition: opacity 200ms;}
#accordion a.expanded h4 { color: #428bca; }
#accordion .panel-heading:hover { opacity: 1; }
#accordion .panel-heading:hover h4 { color: #428bca; }
#accordion .panel-default { position: relative; margin: 0 0 10px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#accordion .panel-icon { position: absolute; right: 15px !important; top: 10px; left: auto !important; overflow: hidden; border: 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none;}
#accordion .panel-icon { background: no-repeat -26px -165px url("/public/images/sprites.png"); width: 25px; height: 25px; cursor: pointer;} 
#accordion a.expanded .panel-icon { background: no-repeat -26px -215px url("/public/images/sprites.png"); width: 25px; height: 25px; top: 10px;} 

/***** Start Portfolio *******/
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 -20px 20px 0;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio-items.col-2 > li {
  width: 50%;
}
.portfolio-items.col-3 > li {
  width: 33%;
}
.portfolio-items.col-4 > li {
  width: 25%;
}
.portfolio-items.col-5 > li {
  width: 20%;
}
.portfolio-items.col-6 > li {
  width: 16%;
}
.portfolio-item {
  padding: 0;
  margin: 0;
}
.portfolio-item .item-inner {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 10px 0;
  margin: 0 20px 20px 0;
  position: relative;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item h5 {
  background: #fff;
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  color: #2c3e50;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.6) ;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/**************************** Img overlay ****************************/
.img-overlay { width: 100%; height: 100%; position: relative; background-size: 100%; background-repeat: no-repeat; background-position: 0 150px;} 
.img-overlay img { width: 100%;}

.item-img-overlay { width: 100%; height: 100%; position: absolute; left: 0%; top: 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 500ms; -moz-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms; overflow: hidden;}
.item-img-overlay:hover { filter: alpha(opacity=1); opacity: 1;} 

.img-overlay .item_img_overlay_content { position: inherit; background-color: #279fbb; height: 40px; width: 95%; left:10px; top: auto; bottom: 0; opacity: 0; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; transition: transform 0.4s, opacity 0.1s 0.3s;}

/* Responsive Styles */
@media (max-width: 1200px){  .img-overlay .item_img_overlay_content { width: 94%; } }
@media (max-width: 991px) {  .img-overlay .item_img_overlay_content { width: 92%; } }
@media (max-width: 767px) {  .img-overlay .item_img_overlay_content { width: 87%; } }
@media (max-width: 467px) {  .img-overlay .item_img_overlay_content { width: 83%; } }


.item-img-overlay:hover .item_img_overlay_content { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s;
} .img-overlay:hover img { opacity: 0.5; } 
.team-member-image.img-overlay:hover .item_img_overlay_content { opacity: 1; -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); -webkit-transition: -webkit-transform 0.4s, opacity 0.1s; -moz-transition: -moz-transform 0.4s, opacity 0.1s; transition: transform 0.4s, opacity 0.1s;
}
.team-member-image.img-overlay .item_img_overlay_content { position: absolute; background-color: #279fbb; height: 40px; width: 100%; top: auto; bottom: 0; opacity: 0; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s; -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s; transition: transform 0.4s, opacity 0.1s 0.3s;
} .item-img-overlay a:hover { text-decoration: none; } 
.img-overlay:hover .item-img-overlay { opacity: 1; }
.img-overlay:hover .item_img_overlay_content { opacity: 1; filter: progid:DXImageTransform.Microsoft.Matrix(Dy=0); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px);
} .item-img-overlay .item_img_overlay_content i { margin-right: 10px; } 
.item-img-overlay { color: #fff; } 
.item-img-overlay a { color: #fff; }
.item-img-overlay a:hover { color: #fff !important; } 
a.portfolio-zoom icon-resize-full:hover { color: #279fbb !important; } 
.item-img-overlay i { background-color: white; background-color: rgba(255, 255, 255, 0.95); color: #279fbb; border-radius: 50%; width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 18px; cursor: pointer; display: inline-block; position: relative; -webkit-transition: background-color, color 0.4s; -moz-transition: background-color, color 0.4s; -o-transition: background-color, color 0.4s; transition: background-color, color 0.4s;
}
.item-img-overlay i:hover { color: #279fbb; } 
.item-img-overlay i:hover { background-color: #279fbb; color: white; color: rgba(255, 255, 255, 0.95);
} .item-img-overlay .portfolio-zoom { position: absolute; top: 50%; margin-top: -40px; right: 50%; margin-right: -20px; background-color: white; background-color: rgba(255, 255, 255, 0.95); color: #279fbb; border-radius: 50%; width: 40px; height: 40px; line-height: 43px; text-align: center; font-size: 18px; transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); cursor: pointer; z-index: 1;
}
.item-img-overlay .portfolio-zoom:hover { color: #279fbb !important;
} .item-img-overlay:hover .portfolio-zoom,
.item-img-overlay:hover i,
.thumb-label-item:hover .portfolio-zoom,
.feature-image:hover .portfolio-zoom,
.blog-post-featured-img:hover .portfolio-zoom { opacity: 0.8; -webkit-animation-fill-mode: forwards; -webkit-animation-name: overlay-animation; -webkit-animation-duration: 0.5s; -webkit-animation-timing-function: linear; -webkit-animation-delay: 0s; -moz-animation-fill-mode: forwards; -moz-animation-name: overlay-animation; -moz-animation-duration: 0.5s; -moz-animation-timing-function: linear; -moz-animation-delay: 0s; -o-animation-fill-mode: forwards; -o-animation-name: overlay-animation; -o-animation-duration: 0.5s; -o-animation-timing-function: linear; -o-animation-delay: 0s; animation-fill-mode: forwards; animation-name: overlay-animation; animation-duration: 0.5s; animation-timing-function: linear; animation-delay: 0s; transform: scale(1) \9;} 
@-webkit-keyframes overlay-animation { 0% { -webkit-transform: scale(1.5); opacity: 0; } 50% { -webkit-transform: scale(0.5); } 100% { -webkit-transform: scale(1); opacity: 1; }} 
@-moz-keyframes overlay-animation { 0% { -moz-transform: scale(1.5); opacity: 0; } 50% { -moz-transform: scale(0.5); } 100% { -moz-transform: scale(1); opacity: 1; }} 
@-o-keyframes overlay-animation { 0% { -o-transform: scale(1.5); opacity: 0; } 50% { -o-transform: scale(0.5); } 100% { -o-transform: scale(1); opacity: 1; }} 
@keyframes overlay-animation { 0% { transform: scale(1.5); opacity: 0; } 50% { transform: scale(0.5); } 100% { transform: scale(1); opacity: 1; }} 
.img-overlay { overflow: hidden;} 
.img-overlay img { -webkit-transition: all 0.6s; -moz-transition: all 0.6s; -ms-transition: all 0.6s; -o-transition: all 0.6s; transition: all 0.6s;} 
.img-overlay:hover img { -webkit-transform: translateY(-40px); -moz-transform: translateY(-40px); -ms-transform: translateY(-40px); -o-transform: translateY(-40px); transform: translateY(-40px);} 
.feature .img-overlay:hover img { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0);}
.feature .item-img-overlay .portfolio-zoom { margin-top: -20px;}
.thumb-label-item-title { margin: 0 0 0px 0; display: block; font-size: 16px; text-transform: uppercase; line-height: 40px; width: 100%; margin: 0 auto;} 
.thumb-label-title-tags { font-size: 11px; font-style: italic; text-align: center; position: absolute; bottom: 23%; width: 100%; margin: 0 auto;}
/* Responsive Styles */
@media (max-width: 1200px){ .thumb-label-item-title { font-size: 14px; } }
@media (max-width: 991px) { .thumb-label-item-title { font-size: 11px; } }
@media (max-width: 500px) { .thumb-label-item-title { font-size: 8px; } }
.portfolio-item .btn-danger{ }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/***** End Portfolio *******/

/** Tag Cloud **/
ul.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tag-cloud li {
  display: inline-block;
  margin: 0 0 2px 0;
}


/*Unordered Lists*/
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before,
ul.arrow li::after,
ul.arrow-double li::after,
ul.tick li::after,
ul.cross li::after,
ul.star li::after,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
  margin-right: 5px;
}
ul.arrow li::before {
  content: "\f105";
}
ul.arrow-double li::before {
  content: "\f101";
}
ul.tick li::before {
  content: "\f00c";
}
ul.cross li::before {
  content: "\f00d";
}
ul.star li::before {
  content: "\f006";
}
ul.rss li::before {
  content: "\f09e";
}


/************** Cookie Bar ******************/
.cookie-message {
  position:fixed;
  top:0;left:0;right:0;
  padding:0 85px 0 20px;
  background:#777777;
  border-bottom:1px solid #ccc;
  box-shadow:0px 0px 3px #ccc;
  z-index: 99;
  background-image: url('/public/images/info.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
  text-indent: 20px;
}

.cookie-message a {
  position:absolute;
  top:0; *top:-2px; right:20px;
  cursor:pointer;
}
.cookie-message p, .cookie-message a {
  color:#CCCCCC;
  font:bold 11px/18px Arial;
  margin:0.6em 0;
}
.cookie-message p { width: 85%; }
.cookiebar-close { padding: 0px 15px 0px 0px;  background-color: #777777;}

.transparent {
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}




